# Игнорировать временные файлы Visual Studio
.vscode/
.vs/
bin/
obj/

# Игнорировать файлы конфигурации для пользовательских настроек Visual Studio
*.suo
*.user
*.userosscache
*.suo
*.sdf
*.opensdf
*.dbmdl
*.dbproj.suo
*.VC.db
*.VC.VC.opendb
*.VC.opendb
*.sln.docstates

# Игнорировать файлы отладки
[Tt]humbs.db
*.log
*.log.*
*.VisualState.xml
TestResults/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Ll]og/
[Ll]ogs/

# Игнорировать файлы конфигурации
*.seed
*.swp
*~
*.bak
*.cache
*.project
*.DS_Store
